## Use the airquality Data Set. It contains Daily readings of the following air quality values for May 1, 1973 (a Tuesday) 
##to September 30, 1973.

## Data Dictionary
##Ozone: Mean ozone in parts per billion from 1300 to 1500 hours at Roosevelt Island

##Solar.R: Solar radiation in Langleys in the frequency band 4000â€“7700 Angstroms from 0800 to 1200 hours at Central Park

##Wind: Average wind speed in miles per hour at 0700 and 1000 hours at LaGuardia Airport

##Temp: Maximum daily temperature in degrees Fahrenheit at La Guardia Airport.

##Month: Month (in numbers 1 for Jan, 2 for Feb and so on)

##Day: Day (in numbers)

## Based on the dataset, answer the following.

## Standard Imports - pandas and numpy

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mlp
from matplotlib import pyplot
import seaborn as sns

## Q1. Import the DataSet into Jupyter Notebook.

In [4]:
df = pd.read_csv("AQ_Python.csv")
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Q2. How many observations are there in the object you just imported?

In [8]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

## Q3. How many Missing Values are there in the column Solar.R?

In [9]:
df["Solar.R"].isnull().sum()

7

## Q4. What was the Ozone Levels on 7th July?

In [11]:
df[(df["Month"]==7) & (df["Day"]==7)]["Ozone"]

67    77.0
Name: Ozone, dtype: float64

## Q5. What has been the average temperature in the month of September?

In [12]:
df.groupby("Month")["Temp"].mean().T

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64

## Q6. What was the maximum windspeed observed in July?

In [13]:
df[df["Month"]==7]["Wind"].max()

14.9

## Q7. Which month has the day with minimum amount of Solar Radiation?

In [16]:
df[df["Solar.R"]==df["Solar.R"].min()]["Month"]

81    7
Name: Month, dtype: int64

## Q8. Which month has the coldest day?

In [17]:
df[df["Temp"]==df["Temp"].min()]["Month"]

4    5
Name: Month, dtype: int64

## Q9. Which was the hottest day? (Only day not month)

In [18]:
df[df["Temp"]==df["Temp"].max()]["Day"]

119    28
Name: Day, dtype: int64

## Q10. Which day had Ozone Level of 78 and Temperature of 86 (Day and Month)

In [33]:
df[(df["Temp"]==86) & (df["Ozone"]==78)][["Month","Day"]]

    Month  Day
95      8    4