# Coding Assignment 1

**Due**: 11:59 PM, Monday, September 25th, 2023

**Name**: MISHRA, DEBADUTTA

This assignment covers some of the basics of Python.
Some of you will know more convenient ways to accomplish these tasks, but for this assignment, I'd like you to stick with fundamental ways.
In particular, do not use any NumPy or pandas functions.
If you have any doubt about how I'd like a problem completed,
please ask.

The problems are partly in difficulty order,
but not completely.
Feel free to skip around.

The problems on this assignment are relatively simple,
and ChatGPT and similar will be able to provide answers.
You are not allowed to use ChatGPT for this, however,
because you need to understand the fundamentals first.

**Submission**

Submission will be by uploading to Brightspace.
Details will be forthcoming.

###Problem: Familiarity with Common Values

Measure your home Internet speed by going to Google and searching for "speed test".
Use the **Google** version.
It will look like this:

![Screenshot 2023-09-12 103926.png]()

Do not use the Ookla version or any other, because those are commercial, and you'll get annoying ads, etc.

Using the speed that you measure,
compute how long it would take you to download a 10 GB file.
Compute how long it would take you to download a 10 GiB file.

Using any method of your choice, measure how long it takes to copy a 10 GB file on your computer.

Put your answer in the cell below using Markdown.

*1) My download speed came around 341.2 MBps. It takes 30 secs to download a 10GB file and 32 secs to download a 10GiB file in my system.
2) I copied a sample file and checked the speed on the pop up. It came around 500 MBps. So it will take roughlt 21 secs to copy a 10 GB file in my system*

## Boolean Expressions

###Problem: Boolean and relational expressions

Write code in the cell below to:

1. Assign the value 50 to the variable i.
1. Print `True` if `i` is in the open interval $[30,60)$, `False` otherwise. Use only two less-than operators.
1. Print `True` if `i` is divisible by both 5 and 2, `False` otherwise.
1. Print `True` if `i` is divisible by both 5 and 3, `False` otherwise.
1. Print the value of a Boolean expression involving `i` that you know must always be false.
Expressions like `i > 3 and False` are not allowed.
1. Print the value of a Boolean expression involving `i` that you know must always be true.
Expressions like `i > 3 or True` are not allowed.

You can use the `print()` function or the `display()` function.
The latter may look a bit nicer.

In [ ]:
# Put your code here.
i = 50
if(i in range(30,60)):
  print("True")
else:
  print("False")
display(i%5==0 and i%2==0)
display(i%5==0 and i%3==0)
display(i%5==0 and i%3==0)
display(i%5==0 and i%2==0)

True

True

False

False

True

## Arithmetic Expressions

### Problem: Linear Mapping

Write a function named `scale(x, r1, t2)` that will rescale `x`, originally in the range given by the tuple `r1`,
to the range given by the tuple `r2`.

In [ ]:
# Put your code here.
import random
def scale(x,r1,r2):
  r3_min = int(r1[1])-int(r1[0])
  r3_max = int(r2[1])-int(r2[0])
  x_new = float(x - int(r1[0])) / float(r3_min)
  return(int(r2[0]) + (x_new * r3_max))
r1_min = int(input("Enter first range min: "))
r1_max = int(input("Enter first range max: "))
r1 = (r1_min,r1_max)
print(r1)
x = random.randint(int(r1[0]),int(r1[1]))
print(x)
r2_min = int(input("Enter second range min: "))
r2_max = int(input("Enter second range max: "))
r2 = (r2_min,r2_max)
print(r2)
print(scale(x,r1,r2))

Enter first range min: 10
Enter first range max: 100
(10, 100)
64
Enter second range min: 1000
Enter second range max: 2000
(1000, 2000)
1600.0

### Problem: Arithmetic Expressions

In the cell below, write a function named `frac(x)` that, for any given $x > 0$, will return the fractional part of $x$.
In other words, only the digits after the decimal point will remain.
Do not use any library functions, use only `int()`.

In [ ]:
# Put your code here.
def frac(x):
  if(x<=0 or x is null):
    return("Please enter a value > 0")
  else:
    return(x-int(x))
x = float(input("Enter your value: "))
print(frac(x))

Enter your value: -3
Please enter a value > 0

### Problem: Type Conversions, Arithmetic Expressions

In the cell below,
write a function named `my_round(x)` that will round any non-negative `x` to the nearest integer,
and return it.
(Hint: Experiment with the type conversion function `int()`.)
The returned value should actually be an integer, and not a floating-point number.
Execute the cell below to see the difference.

In [ ]:
print(type(1))
print(type(1.0))

4

In [ ]:
# Put your code here.
def my_round(x):
    if(x<=0 or x is null):
      return("Please enter a value > 0")
    else:
      return(int(x+0.5))
x = float(input("Enter your value: "))
print(my_round(x))

Enter your value: -2
Please enter a value > 0

###Problem: Type Conversions, Arithmetic Expressions

In the cell below, write a function named `my_round01(x)` that will round any non-negative argument `x` to the nearest 0.01
and return it.
(Hint: Extend the idea above by using a few more operations.)

In [ ]:
# Put your code here.
def my_round01(x):
      if(x<=0 or x is null):
        return("Please enter a value > 0")
      else:
        return(int((x*100)+0.5)/100)
x = float(input("Enter your value: "))
print(my_round01(x))

Enter your value: 0
Please enter a value > 0

## Lists

There is only one problem in this section.

### Problem: List Splice

Write a function `replace_last(l1, l2)` will accept two lists as arguments,
and splice the second list at the end of the first list, replacing
the last element.

In [ ]:
# Put your code here.
def replace_last(l1, l2):
  if(len(l1)==0):
    return("List cannot be empty")
  l1.pop(len(l1)-1)
  l3 = l1+l2
  return(l3)
l1 = []
l2 = []
n = int(input("Enter number of values for first list: "))
for i in range(0, n):
    s = input("Enter the "+ str(i+1) +"th value: ")
    l1.append(s)
print(l1)
n = int(input("Enter number of values for second list: "))
for i in range(0, n):
    s = input("Enter the "+ str(i+1) +"th value: ")
    l2.append(s)
print(l2)
print(replace_last(l1,l2))

Enter number of values for first list: 2
Enter the 1th value: riku
Enter the 2th value: biku
['riku', 'biku']
Enter number of values for second list: 2
Enter the 1th value: rani
Enter the 2th value: chinu
['rani', 'chinu']
['riku', 'rani', 'chinu']

##Strings

###Problem: String Indexing

In the cell below, write a function named `ends_same()` that will take two arguments and return true if the first two letters of the given string `s`
are equal to the last two letters.
You may assume that the length of the string is at least 2.
The `==` operator can be used to compare two strings for equality.

In [ ]:
# Put your code here.
def ends_same(s):
  if(len(s)<2):
    return ("String length needs to be atleast 2")
  return(s[0:2]==s[len(s)-2:])
s = input("Enter String: ")
print(ends_same(s))

Enter String:
String length needs to be atleast 2

###Problem: String Manipulation

In the cell below, write a function named `rjust(s, w)` that will right-justify a given string argument `s` to a width of `w` characters, and return the justified string.
Empty space on the left should be filled with spaces.

In [ ]:
# Put your code here.
def rjust(s, w):
  s = s.rjust(w," ")
  return(s)
s = input("Enter the string: ")
w = int(input("Enter rjust width: "))
print(rjust(s,w))

Enter the string: abc
Enter rjust width: 10
       abc

### Problem: Type Conversions, String Slicing

Write a function named `remove_leading_digit(i)` in the cell below that will remove the leading digit in an integer,
and return it as an integer (not as a string).
Use `int()` and `str()` functions, and a string slice. You may assume that the integer has at least two digits (i.e., greater than 9).

In [ ]:
# Put your code here.DOUBT
def remove_leading_digit(i):
  if(len(i)<2):
    return("Please enter an integer > 9")
  else:
    i = i[1:]
    return(int(i))
i= int(input("Enter an integer: "))
print(remove_leading_digit(str(i)))

Enter an integer: 10000
0

###Problem: String Slicing, String Operators

The equality operator (`==`) can be used to test that two strings are equal.
Write a function named `is_palindrome(s)` to check whether or not a string is a palindrome.
It should return `True` or `False`.
You may need to lookup some Python string functions.

In [ ]:
# Put your code here.
def is_palindrome(s):
  if len(s) == 1 or len(s) == 0:
    return True
  elif s[0] == s[-1]:
      return is_palindrome(s[1:-1])
  else:
      return False
s = input("Enter the string: ")
is_palindrome(s)

Enter the string: hannah

True

### Problem `.format()`, Format Strings

Write a function below named `output(`*price*`, `*prod*`)` that will accept two arguments.
It should print `The `*prod*` is $`*price*` per unit.`, where *prod* and *price* are replaced
by the arguments, and *price* is formated with two digits after the decimal point.
For example, if called with `output(1.1, "milk")`,
it should print `The milk is $1.10 per unit`.
Use either `.format()` or format strings.

In [ ]:
# Put your code here.
def output(price,prod):
  a = "The {prod} is ${price:.2f} per unit"
  print(a.format(price = price,prod = prod))
prod = input("Enter Prduct name: ")
price= float(input("Enter price: "))
output(price,prod)

Enter Prduct name: colgate
Enter price: 0.3
The colgate is $0.30 per unit

###Problem: `.format()`

Write a function named `print_with_heading(hdr, nums)` that will accept two arguments,
a string `hdr` that is a heading,
and a list of numbers `nums`.
Print the heading and the list of numbers.
Center the heading assuming a column width of 20.
Print the list of numbers as money, also using width 20,
and two digits after the decimal point.
For example:

```
         1         2
12345678901234567890
      Earnings
             $120.20
               $1.00
```

(Do not include the digits at the top; they are there just to mark out 20 spaces.)

Use the `.format()` method on strings or format strings.

In [ ]:
# Put your code here.DOUBT
def print_with_heading(hdr, nums):
  head = "{:<0} {:<0}".format("",hdr)
  print(head.center(20," "))
  for i in nums:
    c = "${i:.2f}"
    c = c.format(i = i)
    print("{:<0} {:<0}".format("", c).rjust(20," "))
nums = []
n = int(input("Enter number of values: "))
for i in range(0, n):
    s = float(input("Enter the "+ str(i+1) +"th value: "))
    nums.append(s)
print(nums)
hdr = input("Enter Heading: ")
print_with_heading(hdr, nums)

Enter number of element: 2
Enter the 1th value: 12
Enter the 2th value: 34
[12.0, 34.0]
Enter Heading: Earnings
      Earnings
              $12.00
              $34.00

## Control Flow

###Problem: `if`
Write a function below named `nested_if()` that demonstrates nested `if`-statements.
The function should take one argument.
The top-level `if`-statement should have an `if`, and `elif`, and an `else`.
The top-level true branch should have a single nested `if`-statement.
Demonstate all possible paths through your code with 6 different calls to your function.

In [ ]:
# Put your code here.
def nested_if(a):
  if(len(a)==5):
    print("Length is 5")
    if(a[0]=='b'):
      print("Starts with b")
  elif(len(a)>5):
    print("Length is greater than 5")
    if(a[0]=='b'):
      print("Starts with b")
  else:
    print("Length is less than 5")
a = input("Enter a string: ")
nested_if(a)
nested_if("batch")
nested_if("bat")
nested_if("catch")
nested_if("cat")
nested_if("catch the bat")
nested_if("bat and cat")

Enter a string: dat
Length is less than 5
Length is 5
Starts with b
Length is less than 5
Length is 5
Length is less than 5
Length is greater than 5
Length is greater than 5
Starts with b

###Problem: `while`
Write a function named `digits(n)` containing a while loop that return the number of digits in the argument `n`.
For example, `digits(0)` should return 1, and `digits(10)` should return 2.

In [ ]:
# Put your code here.
def digits(n):
  if(n==0):
    return 1
  i = 0
  while(n!=0):
    n = int(n/10)
    i=i+1
  return i
n = int(input("enter a number: "))
digits(n)

enter a number: 5

1

### Problem: `for`

Write a function named `evens(n)` that uses a `for`-loop to print the even numbers from 0 to 100.
Use an increment in `range()`.
Write a another function named `reverse(n)` that uses a `for`-loop to
print numbers in reverse order from 100 to 0, in steps of 3.
Use an increment in `range()`.

In [ ]:
# Put your code here.
def evens(n):
  for i in range(0,n+1):
    if(i%2 == 0):
      print(i)
def reverse(n):
  for i in range(n,-1,-3):
    print(i)
n = int(input("Enter range for even numbers: "))
evens(n)
n = int(input("Enter range for reversing: "))
reverse(n)

Enter range for even numbers: 12
0
2
4
6
8
10
12
Enter range for reversing: 12
12
9
6
3
0

### Problem: `for`

Write a function `all_seqs(n, chars)`
that returns a list containing all possible strings of length `n` consisting of characters from the string `chars`.
A character from `chars` may appear more than once in the generated string.
You may assume that `chars` contains no duplicated characters.
For example, if called with `all_seqs(3, "axm")`, it should return the list containing:

    aaa
    aax
    aam
    axa
    axx
    axm
    ama
    amx
    amm
    xaa
    xax
    xam
    xxa
    xxx
    xxm
    xma
    xmx
    xmm
    maa
    max
    mam
    mxa
    mxx
    mxm
    mma
    mmx
    mmm

In [ ]:
def  all_seqs3(chars):
  for i1 in range(0,len(chars)):
    for i2 in range(0,len(chars)):
      for i3 in range(0,len(chars)):
        s = chars[i1]+chars[i2]+chars[i3]
        print(s)
chars = input("Enter a string: ")
print("Input string: "+chars)
all_seqs3(chars)

Enter a string: abcde
Input string: abcde
aaa
aab
aac
aad
aae
aba
abb
abc
abd
abe
aca
acb
acc
acd
ace
ada
adb
adc
add
ade
aea
aeb
aec
aed
aee
baa
bab
bac
bad
bae
bba
bbb
bbc
bbd
bbe
bca
bcb
bcc
bcd
bce
bda
bdb
bdc
bdd
bde
bea
beb
bec
bed
bee
caa
cab
cac
cad
cae
cba
cbb
cbc
cbd
cbe
cca
ccb
ccc
ccd
cce
cda
cdb
cdc
cdd
cde
cea
ceb
cec
ced
cee
daa
dab
dac
dad
dae
dba
dbb
dbc
dbd
dbe
dca
dcb
dcc
dcd
dce
dda
ddb
ddc
ddd
dde
dea
deb
dec
ded
dee
eaa
eab
eac
ead
eae
eba
ebb
ebc
ebd
ebe
eca
ecb
ecc
ecd
ece
eda
edb
edc
edd
ede
eea
eeb
eec
eed
eee

## Scope

There is only one problem in this section.

### Problem: Understanding scope

In your own words, explain how Python determines if a variable is local or global.
Do not just copy and paste an explanation from somewhere else,
since you won't actually absorb it.
Paraphrasing it is okay, though.

*Python takes any variable that is declared within the scope of a function as a local variable, unless it is declared with the 'global' keyword. Any variable declared outside the scope of a function is global. A local variable value is not valid outside the scope of the function.*

### Problem: Scope

Write a function named `local_scope(x)` that computes `x**2 + 3`, assigns it to a local variable named `result`,
and returns `result`. It must not change the global `result`.

Now write another function named `global_scope(x)` that returns nothing,
assigns the same value to the global variable named `result`

Put your code in the cell directly below.
The second cell below can be used to test your code.

In [ ]:
def local_scope(x):
  result = x**2 + 3
  return result
def global_scope(x):
  global result
  result = x**2 + 3
x = int(input("Enter a value: "))
result = 3
print(result)
print(local_scope(x))
print(result)
global_scope(x)
print(result)

Enter a value: 4
3
19
3
19

In [ ]:
def f():
  pass
print(type(f()))

In [ ]:
# This cell will test.
result = 1
print(local_scope(4)) # Should print 19
print(result) # Should print 1
type(global_scope(5)) # Should print "<class 'NoneType'>".
print(result) # Should print 29

## Recursion

This is an advanced programming technique.
You will probably use it rarely, but
understanding recursion
helps you get better at coding in general.

### Problem: Reverse String

Write a recursive function named `reverse_string(s)` that will reverse a string recursively, and return the reversed string.

In [ ]:
def reverse_string(s):
  if len(s) == 0:
    return(s)
  else:
    return(reverse_string(s[1:]) + s[0])
s = input("Enter string: ")
print(reverse_string(s))

Enter string: a
a

### Problem: Sum

In the cell below, write a recursive function to compute the sum
$\sum_{i = 1}^{n} i$.
Use the fact that you can reverse the order of the sum.
In other words, $\sum_{i = 1}^{n} i = n + \sum_{i = 1}^{n - 1}$.

In [ ]:
def summation(n):
  if n == 1:
    return 1
  else:
    return(n + summation(n-1))
n = int(input("Enter the limit: "))
print(summation(n))

Enter the limit: 5
15

### Problem: Flatten List

Write a function named `flatten(l)` to "flatten" a list.
It will just return a new list containing all the elements of the original list,
even if they are in arbitrarily nested lists.

Some examples.

    print(flatten([1, 2, [3, 4]]))
    # prints [1, 2, 3, 4]
    print(flatten([[[1]]]))
    # prints [1]

Hint: Use `isinstance()` to check if an item in a list is itself a list.  If not, just append it to the new list.  If yes, use recursion and call itself.

In [ ]:
def flat_list(l):
  def flat_helper(l1):
    for v in l1:
      if isinstance(v, list):
        flat_helper(v)
      else:
        new.append(v)
  new = []
  flat_helper(l)
  return new
l =[]
m = int(input("Enter number of nested lists: "))
for j in range(0,m):
  lst = []
  n = int(input("Enter number of values for "+str(j+1)+"th list: "))
  for i in range(0, n):
    s = input("Enter the "+ str(i+1) +"th value: ")
    lst.append(s)
  l.append(lst)
print(l)
print(flat_list(l))

Enter number of nested lists: 2
Enter number of values for 1th list: 1
Enter the 1th value: 2
Enter number of values for 2th list: 3
Enter the 1th value: 4
Enter the 2th value: 5
Enter the 3th value: 6
[['2'], ['4', '5', '6']]
['2', '4', '5', '6']

## Comprehensive Problems

These problems use a combination of concepts and features.

### Problem: Prime Numbers

Write a function named `is_prime(n)` that accepts an integer and returns `True` if it is prime,
`False` otherwise.
You can use an exhaustive search by checking for divisibility of `n` against all numbers up to and including
$\lfloor\sqrt{n}\rfloor$
Note that you only have to check up to the floor of the square root of the number.

Then write a function named `primes(n)` that returns a list containing all primes up to and including the integer `n`.
I will describe the algorithm you should use as you would do it on paper.
You'll be responsible for thinking about how to convert it to code.

1. Write down the numbers from 2 to `n` on a piece of paper.  Call this list of numbers WORKING.
2. Write down the first number from WORKING that has not been crossed out on second list called PRIMES, and
cross out this number.  Call this number `m`.
3. Go through the rest of WORKING and cross out all numbers that are a multiple of $m$.
4. If there are still numbers on WORKING that have not yet been crossed out,
go back to Step 2.
5. Otherwise, you are done.

You can convert this to code using a nested `for`-loop.
Think about how to represent the WORKING list.
(Hint: Use a list of boolean values.)

In [ ]:
def is_prime(n):
  for i in range(2,int(n**0.5)+1):
    if n%i == 0:
      return False
  return True
n = int(input("enter the number: "))
is_prime(n)

enter the number: 13

True

In [ ]:
def primes(n):
  p = list(range(2,n+1))
  for i in range(2,n+1):
    for j in range(2,int(i**0.5)+1):
      if i%j == 0:
        p.remove(i)
        break
  return(p)
n = int(input("Enter the value: "))
print(primes(n))

Enter the value: 23
[2, 3, 5, 7, 11, 13, 17, 19, 23]

###Problem: Base Conversion

Write a function named `base_convert(n, b)` that will convert a number `n` given as an integer to a different base `b`,
and return it as a string.
Use the letters A-Z to accommodate up to base 36.

In [ ]:
# Put your code here.
def base_convert(n, b):
    if n == 0:
        return '0'
    converted = ''
    while n:
        converted = str(int(n % b))+converted
        n = int(n/b)
    return converted
n = int(input("Enter the integer "))
b = int(input("Base to be converted to? "))
print(base_convert(n,b))

Enter the integer 234
Base to be converted to? 8
352

### Problem: Print a Circle

Implement a function named `circle_print(r)` that accepts
a single argument giving a radius,
and prints out a filled circle using asterisks.
Assume that each asterisk is square,
and of unit height and width.

In [ ]:
# Put your code here.
def circle_print(r):
  r1 = r**2
  final = ''
  for i in range(2*r):
    y = (i - r)**2
    for j in range(2*r):
        x = (j - r)**2
        if x + y <= r1:
            final = final + '*  '
        else:
            final = final + '   '
    final = final + '\n'
  print(final)
r = int(input("Enter radius: "))
circle_print(r)

Enter radius: 20
                                                            *
                                          *  *  *  *  *  *  *  *  *  *  *  *  *
                                    *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                              *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                     *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
               *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
               *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                     *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                              *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                                    *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                                          *  *  *  *  *  *  *  *  *  *  *  *  *

### Problem: Simplify Fraction

Write a function named `simplify(f)` that will simplify the fraction `f`, given as a tuple, and return the simplified fraction, again as a tuple.
As an example, the fraction $12/16$ would be written as the tuple `(12, 16)`.
After simplification, the numerator and denominator should have no factors in common, other than 1.
You may use recursion or iteration to implement this.

In [ ]:
# Put your code here.
def simplify(f):
  c = 2
  while c < min(int(f[0]),int(f[1])) + 1:
    if int(f[0])%c ==0 and int(f[1])%c ==0:
      f1 = int(int(f[0]) / c)
      f2 = int(int(f[1]) / c)
      f = (f1,f2)
    else:
      c=c+1
  return (f1,f2)
num = int(input("Enter numerator: "))
den = int(input("Enter denominator: "))
f = (num,den)
print(simplify(f))

Enter numerator: 6
Enter denominator: 9
(2, 3)