In [2]:
import numpy as deb
som = deb.zeros([5,2])
som

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [15]:
vec1 = deb.arange(2,10)
vec1
vec2 = deb.arange(3,11)
vec3 = vec1*vec2
vec4 = deb.sqrt(vec3)
vec4
random_mat = deb.random.rand(3,6)
random_mat

array([[0.51677246, 0.28896038, 0.06341655, 0.13577667, 0.35362709,
        0.48389331],
       [0.54449903, 0.41295772, 0.16305286, 0.82954959, 0.52834381,
        0.98771816],
       [0.46378852, 0.42256087, 0.94067925, 0.97151738, 0.84994703,
        0.53285241]])

In [24]:
import pandas as table
table1 = table.DataFrame({'customer':[101,102,103,104],'place':['ctc','bbsr','bglr','delhi'],'dob':['1989-11-23','1989-11-22','1989-11-21','1989-11-20']})
table1
table2 = table.DataFrame({'customer':[201,202,203,204],'place':['bbsr','ctc','noida','jaipur'],'dob':['1989-01-23','1989-10-22','1989-09-21','1989-08-20']},index=[4,5,6,7] )
table2
table.concat([table1,table2],axis=0,sort=True)

   customer         dob   place
0       101  1989-11-23     ctc
1       102  1989-11-22    bbsr
2       103  1989-11-21    bglr
3       104  1989-11-20   delhi
4       201  1989-01-23    bbsr
5       202  1989-10-22     ctc
6       203  1989-09-21   noida
7       204  1989-08-20  jaipur