In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Lok+Sabha_2019 (1).csv')

In [4]:
df.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.00,52,ST,Basic Level,3099414.00,231450.00,376892,482,377374,25.33,35.47,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.00,54,ST,Post Graduate,18477888.00,847000.00,318665,149,318814,21.40,29.96,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.00,52,ST,Basic Level,36491000.00,15300000.00,314057,181,314238,21.09,29.53,1489790
3,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.00,58,SC,Doctorate,74274036.00,8606522.00,644459,2416,646875,33.38,56.46,1937690
4,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.00,47,SC,Post Graduate,133784385.00,22251891.00,434199,1130,435329,22.47,38.00,1937690

# 2.1. For this data, construct the following contingency tables (Keep Gender as row variable)

2.1.1. Gender and Winner

2.1.2. Gender and Education

In [7]:
pd.crosstab(df["GENDER"],df["WINNER"])

WINNER     0    1
GENDER
FEMALE   182   76
MALE    1297  463

In [8]:
pd.crosstab(df["GENDER"],df["EDUCATION"])

EDUCATION  Basic Level  Doctorate  Graduate  Illiterate  Post Graduate
GENDER
FEMALE              59         10        95           7             87
MALE               529         63       682          70            416

# 2.2. Assume that the sample is representative of the population. Based on the data, answer the following question:

2.2.1. What is the probability that a randomly selected candidate will be male?

2.2.2. What is the probability that a randomly selected candidate will be female?

In [19]:
df["GENDER"].value_counts()[0]/(df["GENDER"].value_counts()[0]+df["GENDER"].value_counts()[1])*100

87.21506442021804

In [20]:
df["GENDER"].value_counts()[1]/(df["GENDER"].value_counts()[0]+df["GENDER"].value_counts()[1])*100

12.784935579781962

# 2.3. Assume that the sample is representative of the population. Based on the data, answer the following question:

2.3.1. Find the conditional probability of different education level among the male candidates.

2.3.2 Find the conditional probability of different education level among the female candidates.

In [27]:
df[df["GENDER"]=="MALE"]["EDUCATION"].unique()

array(['Basic Level', 'Post Graduate', 'Doctorate', 'Graduate',
       'Illiterate'], dtype=object)

# 2.4. Assume that the sample is a representative of the population. Based on the data, answer the following question:

2.4.1. Find the probability that a randomly selected candidate is a male and is a winner.

2.4.2 Find the probability that a randomly selected candidate is a female and is not illiterate.

In [33]:
pd.crosstab(df["GENDER"],df["WINNER"])
463/1760 * 1760/2018

0.2294350842418236

In [32]:
(1-(7/258)) * 258/2018

0.12438057482656095

# 2.5. Do you think the being a winner and being a female candidate are independent events?